<!DOCTYPE html>
<html lang="">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Yoneticilerimiz - Sante Medikal</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/santeIcon.ico') }}">


  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- font awesome style -->
  <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" />
  <!-- nice select -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
    integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4=" crossorigin="anonymous" />
  <!-- datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet" />

</head>

<body class="sub_page">

  <div class="hero_area">
    <!-- navbar section -->
    {% include 'navbar.html' %}
    <!-- end navbar section -->
  </div>

  <!-- team section -->

  <section class="team_section layout_padding" style="background: #7BD2E6">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Hastanemizin <span>Yönetim Kadrosu</span>
        </h2>
      </div>
      <div class="carousel-wrap">
        <div class="owl-carousel team_carousel owl-loaded owl-drag">

          <div class="owl-stage-outer">
            <div class="owl-item" style="width: 330px; margin-right: 15px;">
              <div class="item">
                <div class="box">
                  <div class="img-box">
                    <img src="{{ url_for('static', filename='images/yonetici1.jpeg') }}" alt="">
                  </div>
                  <div class="detail-box">
                    <h5>
                      Bilge Çeşme
                    </h5>
                    <h6 style="color: #5295e8">
                      Yönetim Kurulu Başkanı
                    </h6>
                    <div class="social_box">
                      <a href="">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                      <a href="">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                      </a>
                      <a href="">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                      </a>
                      <a href="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="owl-item" style="margin-right: 15px;">
              <div class="item">
                <div class="box" style="width: 650px; height: 533px">
                  <p style="margin: 120px 10px 40px 10px; padding: 20px;
                  text-align: justify; text-justify: inter-word; font-size: 16px">
                      &emsp;&emsp;Sante Medikal'de Yönetim Kurulu Başkanı olarak görev yapan Bilge Çeşme, kariyerine sağlık
                      sektöründe çeşitli kademelerde başlamıştır. Sağlık yönetimi ve stratejik
                      planlama alanlarında
                      uzmanlaşarak adım atan, daha sonra yöneticilik ve liderlik rollerinde çeşitli
                      deneyimler elde
                      etmiştir. Öncesinde, farklı sağlık kuruluşlarında yönetim pozisyonlarında görev
                      almış ve sağlık
                      hizmetlerinin etkin bir şekilde sunulmasını sağlamak adına operasyonel
                      sorumluluklar üstlenmiştir.
                      Bu süreçte edindiği bilgi birikimi ve tecrübeleri, Sante Medikal'de liderlik
                      yaparken stratejik
                      kararlar almasını, yenilikçi çözümler üretmesini ve sağlık hizmetlerinde mükemmelliği
                      hedeflemesini sağlamıştır. Ayrıca, sağlık sektöründeki güncel gelişmeleri yakından takip ederek,
                      hastane politikalarını ve uygulamalarını sürekli olarak iyileştirmeye odaklanmıştır.
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="team_section layout_padding" style="background: #c3faff">
    <div class="container">
      <div class="carousel-wrap">
        <div class="owl-carousel team_carousel owl-loaded owl-drag">

          <div class="owl-stage-outer">
              <div class="owl-item" style="margin-right: 15px;">
              <div class="item">
                <div class="box" style="width: 650px; height: 533px">
                  <p style="margin: 120px 10px 40px 10px; padding: 20px;
                  text-align: justify; text-justify: inter-word; font-size: 16px">
                      &emsp;&emsp;Sante Medikal'de Yönetim Kurulu Başkan Yardımcısı olarak görev
                      yapan Yalçın Dağbaşı, köklü bir kariyere sahip sağlık sektörü profesyonelidir.
                      Uzun yıllara dayanan deneyimi ve geniş bir bilgi birikimiyle, sağlık yönetimi ve
                      işletme alanlarında başarılı bir geçmişe sahiptir. Kariyerine sağlık sektöründe çeşitli
                      pozisyonlarda başlayarak, farklı sağlık kuruluşlarında üst düzey yönetim rollerinde
                      görev almıştır. Bu süreçte, sağlık hizmetlerinin etkin bir şekilde sunulmasını sağlamak
                      ve kurumların stratejik hedeflerine ulaşmasına katkıda bulunmak için çeşitli projeler
                      yürütmüş ve başarılı sonuçlar elde etmiştir. Yalçın Dağbaşı, liderlik vasıflarıyla
                      tanınan ve sağlık sektöründeki değişim ve dönüşüm süreçlerine liderlik eden bir yöneticidir.
                      Ayrıca, yenilikçi yaklaşımlarıyla ve etkili iletişim becerileriyle,
                      hastane yönetiminde stratejik kararlar almakta ve ekipleri yönlendirmekte başarılıdır.
                  </p>
                </div>
              </div>
            </div>
            <div class="owl-item" style="width: 330px; margin-right: 15px;">
              <div class="item">
                <div class="box">
                  <div class="img-box">
                    <img src="{{ url_for('static', filename='images/yonetici2.jpeg') }}" alt="">
                  </div>
                  <div class="detail-box">
                    <h5>
                      Yalçın Dağbaşı
                    </h5>
                    <h6 style="color: #5295e8">
                      Yönetim Kurulu Başkan Yardımcısı
                    </h6>
                    <div class="social_box">
                      <a href="">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                      <a href="">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                      </a>
                      <a href="">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                      </a>
                      <a href="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="team_section layout_padding" style="background: #7BD2E6">
    <div class="container">
      <div class="carousel-wrap">
        <div class="owl-carousel team_carousel owl-loaded owl-drag">

          <div class="owl-stage-outer">
            <div class="owl-item" style="width: 330px; margin-right: 15px;">
              <div class="item">
                <div class="box">
                  <div class="img-box">
                    <img src="{{ url_for('static', filename='images/yonetici3.jpeg') }}" alt="">
                  </div>
                  <div class="detail-box">
                    <h5>
                      Selim Eren Kaya
                    </h5>
                    <h6 style="color: #5295e8">
                      Denetim Kurulu Başkanı
                    </h6>
                    <div class="social_box">
                      <a href="">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                      <a href="">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                      </a>
                      <a href="">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                      </a>
                      <a href="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="owl-item" style="margin-right: 15px;">
              <div class="item">
                <div class="box" style="width: 650px; height: 533px">
                  <p style="margin: 120px 10px 40px 10px; padding: 20px;
                  text-align: justify; text-justify: inter-word; font-size: 16px">
                      &emsp;&emsp;Sante Medikal'de Denetim Kurulu Başkanı olarak görev yapan Selim Eren Kaya,
                      sağlık sektöründe bir dizi başarılı projeye imza atmıştır. Öncesinde çeşitli
                      sağlık kuruluşlarında üst düzey yönetim ve denetim rollerinde bulunmuş, kurumsal performansın
                      artırılmasına yönelik stratejiler geliştirmiş ve uygulamıştır. Kariyeri boyunca, etkili risk
                      yönetimi ve denetim süreçlerini oluşturarak şeffaflığı ve hesap verebilirliği sağlamıştır.
                      Ayrıca, sağlık hizmetlerinde kalite standartlarının yükseltilmesi ve hasta memnuniyetinin
                      artırılması konusunda liderlik etmiş ve başarılı sonuçlar elde etmiştir. Selim Eren Kaya,
                      sağlık sektöründe yönetimde ve denetimdeki uzmanlığıyla tanınan ve sektördeki
                      en iyi uygulamaları hayata geçirerek kurumun sürdürülebilir başarısını sağlayan bir liderdir.
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end team section -->


  <!--  footer section -->
  {% block content %}
    {% include 'footer.html' %}
  {% endblock %}
  <!-- end footer section -->

  <!-- jQery -->
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<!-- bootstrap js -->
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<!-- nice select -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"
  integrity="sha256-Zr3vByTlMGQhvMfgkQ5BtWRSKBGa2QlspKYJnkjZTmo=" crossorigin="anonymous"></script>
<!-- owl slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<!-- datepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
<!-- custom js -->
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>


</body>

</html>